## .NET
bin/
obj/
publish/
*.user
*.suo
*.cache
*.vs/
.vscode/

## Publish
publish/
*.zip

## Generate icon
Resources/IconGen/

## OS
Thumbs.db
.DS_Store
*.swp
*~

## IDE
.idea/
*.sln.docstates

## Graphify
graphify-out/

## Secrets
.github-token.txt
